# If authenticating OAuth (Gitlab), define the following accordingly

# The Gitlab server
GITLAB_HOST="https://gitlab.com"

# JupyterHub instance callback
OAUTH_CALLBACK_URL="http://localhost:8000/hub/oauth_callback"

# Gitlab app client-id
OAUTH_CLIENT_ID="xyz---gitlab_client_id---bla"

# Gitlab app client-secret
OAUTH_CLIENT_SECRET="abc---gitlab_client_secret---bla"
